---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}

  <!--  Google ad -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9546430328665351"
     crossorigin="anonymous"></script>

  <!--  Utterances Comments -->
  <script src="https://utteranc.es/client.js"
        repo="feb-dain/blog-comments"
        issue-term="pathname"
        label="🔔 Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
  
  <br>
</article>
